
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/FlickrViewer/">FlickrViewer</a></li>
    <!--<li><a href="/PM/index.html">Picture Manager</a></li>
    <li><a href="/RecipeKeeper">Recipe Keeper</a></li>-->
    <li><a href="/Resume">Resume</a></li>
    <li><a href="http://www.superstarlibrarian.com">Lorraine</a></li>
</ul>
