@{
    ViewBag.Title = "Home Page";
}

<div id="textHeader" style="color: #1900BA;">
    Welcome to robbchar.com
</div>
<div id="mainTextContent">
    This is my web site where I house some of the projects that I have been working on. I'm trying to keep things up to date and orderly. I'm contemplating keeping a blog but I'm not sure I have enough to say. You can get a hold of me <a href="mailto://robbcharATgmail.com">here</a> if you want to.
</div>

